---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=28377202&auto=1&height=32"></iframe>
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>

